

//Define colors and variable
@color-emerald: #80c8ba; //màu xanh bobi
@color-coral: #F39F9B; //màu kem
@color-text-main: #6d4b27; //màu text
@width: 960px; //default witdth of content

//Define styles
@font-family-myriad-regular: bobimyriadproregular, Helvetica, Arial, sans-serif;
@font-family-miso-regular: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
@font-family: Helvetica, Arial, sans-serif;
@font-size: 14px;
@radius: 5px;

//useful mix-in
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}
.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: 	@opacity;
  -moz-opacity: 		@opacity;
  opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}
.transform(@string){
  -webkit-transform: @string;
  -moz-transform: 	 @string;
  -ms-transform: 		 @string;
  -o-transform: 		 @string;
}
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform: 	 scale(@factor);
  -ms-transform: 		 scale(@factor);
  -o-transform: 		 scale(@factor);
}
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: 	 rotate(@deg);
  -ms-transform: 		 rotate(@deg);
  -o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
  -webkit-transform:       skew(@deg, @deg2);
  -moz-transform: 	 skew(@deg, @deg2);
  -ms-transform: 		 skew(@deg, @deg2);
  -o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
  -webkit-transform:       translate(@x, @y);
  -moz-transform: 	 translate(@x, @y);
  -ms-transform: 		 translate(@x, @y);
  -o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform:       translate3d(@x, @y, @z);
  -moz-transform: 	 translate3d(@x, @y, @z);
  -ms-transform: 		 translate3d(@x, @y, @z);
  -o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
  -webkit-perspective: 	@value;
  -moz-perspective: 	@value;
  -ms-perspective: 	@value;
  perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

//Defines layout
body{
  font-family: @font-family-myriad-regular;
  font-size: @font-size;
  color:@color-text-main;
}
a{text-decoration: none; color:@color-text-main}
a:hover{text-decoration: underline}
div#container
{
  >header{margin-bottom: 20px}
  >div[role=main]{.block_center;}
  >footer{margin-top:20px;}
}
.content{

  p{font-size: 1.1em; line-height: 1.6em; margin-bottom: 10px}
  h1,h2,h3,h4{line-height: 1.3em; margin-bottom: 0.4em}
  h1{font-size: 2em;}
  h2{font-size: 1.6em;}
  h3{font-size: 1.4em;}
  h4{font-size: 1.2em;}
}


//Clearfix
.clearfix{
  &:before, &:after{
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after{
    clear:both;
  }
  zoom: 1;
}


//Layout bobi_layout_2cols
.bobi_layout_2cols{
  .sidecol{width: 180px; float:left};
  .maincol{width: 750px; float:right};
  .clearfix
}
//Common settings
.block_center{width: @width; margin: 0 auto; .clearfix}
.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -o-border-radius: @radius;
}

form.form-vertical{
  input[type=submit]{
    border-style:none;
    background-color: @color-coral;
    color:#fff;
    padding: 6px 15px;
    font-size: 1.2em;
    .border-radius(3px);
    margin-left: 210px;
    margin-top: 10px;
  }

  .control-group{
    padding: 10px 0;

    > label{ margin-right: 20px; display:inline-block; width: 190px; float:left}
    > .controls{
      width: 200px;
      display: inline-block;
      > input, select {
        padding: 5px; width: 100%;
        border: 1px solid  lighten(@color-text-main, 15%);
        border-style: 1px solid;
        .border-radius(3px);
      }
    }
  }

}


//Breadcrumb
.breadcrumb-wrapper{
  background-color:@color-emerald;
  padding: 3px;
  .border-radius(5px);
  margin-bottom: 20px;
}
.breadcrumb
{
  display:block;
  border: 1px dashed #fff;
  padding: 5px;
  font-size:1.6em;
  line-height: 1.3em;
  color: #fff;
  font-family: @font-family-miso-regular;
  background-color:@color-emerald;
  margin: 0;
  .border-radius(5px);

  a {
    color:#fff;
    display: inline-block;
    padding: 2px 8px;
    text-decoration: underline;
  }
}

//Tabs
ul.tabs{
  padding-bottom: 0px;

  li
  {
    a{
      padding: 10px;
      background-color: @color-emerald;
      display: inline-block;
      border-radius: 5px 5px 0 0;
      color:#fff;
      &:hover{background-color: @color-coral;}
    }

    &.active a{color:#000}
  }

}


//General form
form{

  .form-item{
    padding: 10px 0;
  }

  .password-strength{width: 15em;}

  label{
    font-family: @font-family-miso-regular;
    font-size: 18px;
  }

  input, input[type="password"], input[type="search"]{
    padding: 5px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #dedede;
    color:@color-text-main;
    .border-radius(3px);
    &:focus{border-color:@color-coral}
  }

  input[type=submit]
  {
    font-family: @font-family-miso-regular;
    font-size: 18px;
    color:@color-text-main;
    display: inline-block;
    padding:5px 15px;
    border: 2px solid @color-coral;
    background: #fff;
    cursor: pointer;
    .border-radius(5px);
    &:hover{color:#fff; background-color:@color-coral}
  }
}

//Tooltipsy
.tooltipsy
{
  padding: 10px;
  max-width: 150px;
  color:#fff;
  background-color: @color-emerald;
  border-style: none;
}

.bubbletooltip_tip
{
  padding: 10px;
  color: #fff;
  background-color: @color-emerald;
  .border-radius(5px);
  position: relative;
  left: 0;
}

.bubbletooltip_tip:after
{
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: @color-emerald;
  top: -10px;
  left:  50%;
  z-index: -1;
}


//Bobi icons
.bbicon{
  background: transparent url(../images/icons.png) scroll 0px 0px no-repeat;
  width: 35px;
  height: 36px;
  display: inline-block;
  text-indent: -99999px;
  cursor: pointer;
  border-style:none;
}

//copyright footer
.zone-footer-wrapper{

  background-color:@color-emerald;

  p{
    color:#fff;
    text-align: right;
    margin-bottom: 0px;
    float:right;
    span{display: table-cell; height: 40px; vertical-align: middle}
  }

}

//omega grid override
.zone-content-wrapper .container-12 .grid-12{
  width: 100%;
  margin: 0;
}
.zone-menu-wrapper .container-12 .grid-12
{
  width: 100%;
  margin: 0;
}


//user bar
.zone-user-wrapper{
  background-color:@color-emerald;

  //navigation menu
  .block-menu.block-system-navigation
  {
    ul.menu
    {
      float:right;
      li{
        list-style: inline-block;
        list-style: none;
        float:left;
        margin: 0;
        padding: 0;
        a{
          display: block;
          padding: 10px;
          text-decoration: none;
          color:#fff;

          &:hover{background-color: @color-coral; text-decoration: none}
        }

      }
    }
  }
}



//primary menu
.block-menu.block-menu-menu-primary-menu
{

  border-top: 1px solid @color-emerald;
  border-bottom: 1px solid @color-emerald;
  margin-bottom: 20px;

  ul.menu
  {
    li{
      font-family: @font-family-miso-regular;
      color:@color-text-main;
      list-style: inline-block;
      list-style: none;
      float:left;
      margin: 0;
      padding: 0;
      font-size: 20px;
      a{

        color:@color-text-main;
        display: block;
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}


//front-page carousel
.view-bobi-carousel.view-display-id-block_carousel
{

  @h: 340px;
  @w: 720px;
  position: relative;
  clear:both;
  height: @h;
  margin-bottom: 20px;

  //carousel handler
  >.view-content{

    z-index: 10;
    width: 263px;
    position: absolute;
    top: 0;

    li{
      list-style: none;
      display: block;
      margin-bottom: 10px;
      a{
        @padding-left: 20px;
        padding-left: 20px;
        text-decoration: none;
        display: table-cell; width: 100%; background: transparent url(../images/indicator-bg.png) top left no-repeat;
        height: 60px;width: 263px;vertical-align: middle;
        font-family: @font-family-miso-regular;
        font-size: 24px; color:#fff;

        &:hover{text-decoration: none}
      }

      &.active{
        a{background-image:url(../images/indicator-hover-bg.png)}
      }
    }

  }

  //carousel images
  >.attachment-after{
    right: 0;
    top: 0;
    position: absolute;
    height: @h;
    width: @w;

    .view-content{
      >div{position: absolute;top: 0}
    }

  }

}

//Feature cards page
.view-bobi-feature-cards.view-id-bobi_feature_cards
{
  float:right;
  width: 750px;
  .view-content .views-row
  {
    @h: 275px;
    margin-bottom: 20px;
    &.views-row-last{margin-bottom: 0}
    .clearfix;
    .item{
      height: @h;
      width: 750px;
      overflow: hidden;
      .maincol{
        width: 600px;
        float:left;
        position: relative;
        height: @h;
        overflow: hidden;
        //large images
        .item-list{
          ul{margin: 0; padding: 0; position: relative;}
          li{
            display:none; margin: 0; padding: 0; list-style: none; position: absolute; top: 0; width: 600px; height: @h;
            &.first{display:block}
          }
        }

        //Ribbon title/price
        .ribbon{
          position: absolute; top: 10px; z-index: 10;
          color:#fff;
          background-color: @color-coral;
          font-family: @font-family-miso-regular;
          font-size:20px;
          padding: 3px 11px;
          left: -1px;
          .drop-shadow(1px, 1px);

          //ribbon tail
          &:after{
            content: ".";
            overflow: hidden;
            background: transparent url(../images/ribbon-tail.png) scroll top right no-repeat;
            display: block;
            width: 17px;
            height: 26px;
            position: absolute;
            top: 0px;
            right: -12px;
            color:transparent;
          }
        }
        .actions{
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 10;

          //add to cart button
          form{
            .form-actions{margin:0; padding: 0;}
            display: block;
            float:left;
            input[type=submit]
            {
              .bbicon;
              background-position: 0 -85px; &:hover{background-position: -41px -85px}
            }
            //hide attributes in featured mode
            div.attributes{display:none}
          }

          //link to customize
          .customize{
            display: block;
            float:left; margin-left: 10px;
            a{
              .bbicon;
              background-position: 0 0; &:hover{background-position: -41px 0}
            }
          }

        }

      }
      .sidecol{
        width:  130px;
        float:right;
        ul{margin: 0; padding: 0}
        li
        {
          line-height: 0;
          margin: 0;
          padding: 0;
          margin-bottom: 15px;
          &.first{display:none}
          &.last{margin-bottom: 0;}
        }
      }
    }
  }
}


//Feature gifts page
.view-bobi-feature-gifts.view-id-bobi_feature_gifts
{

  .view-content .views-row
  {
    @h: 275px;
    margin-bottom: 20px;
    &.views-row-last{margin-bottom: 0}
    .clearfix;
    .item{
      height: @h;
      width: 750px;
      overflow: hidden;
      .maincol{
        width: 600px;
        float:left;
        position: relative;
        height: @h;
        overflow: hidden;
        //large images
        .item-list{
          ul{margin: 0; padding: 0; position: relative;}
          li{
            display:none; margin: 0; padding: 0; list-style: none; position: absolute; top: 0; width: 600px; height: @h;
            &.first{display:block}
          }
        }

        //Ribbon title/price
        .ribbon{
          position: absolute; top: 10px; z-index: 10;
          color:#fff;
          background-color: @color-coral;
          font-family: @font-family-miso-regular;
          font-size:20px;
          padding: 3px 11px;
          left: -1px;
          .drop-shadow(1px, 1px);

          //ribbon tail
          &:after{
            content: ".";
            overflow: hidden;
            background: transparent url(../images/ribbon-tail.png) scroll top right no-repeat;
            display: block;
            width: 17px;
            height: 26px;
            position: absolute;
            top: 0px;
            right: -12px;
            color:transparent;
          }
        }
        .actions{
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 10;

          //add to cart button
          form{
            .form-actions{margin:0; padding: 0;}
            display: block;
            float:left;
            input[type=submit]
            {
              .bbicon;
              background-position: 0 -85px; &:hover{background-position: -41px -85px}
            }
            //hide attributes in featured mode
            div.attributes{display:none}
          }

          //link to customize
          .customize{
            display: block;
            float:left; margin-left: 10px;
            a{
              .bbicon;
              background-position: 0 0; &:hover{background-position: -41px 0}
            }
          }

        }

      }
      .sidecol{
        width:  130px;
        float:right;
        ul{margin: 0; padding: 0}
        li
        {
          line-height: 0;
          margin: 0;
          padding: 0;
          margin-bottom: 15px;
          &.first{display:none}
          &.last{margin-bottom: 0;}
        }
      }
    }
  }
}


//zone footer explorer
.zone-explorer-wrapper
{
  border-top: 4px solid #f39f9b;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  margin-top: 20px;

  h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 1em;
    margin-bottom: 20px;
  }

  p{line-height: 1.4em; margin-bottom: 5px;}

  .block-box-company-info{
    float:left;
    width: 200px;
  }

  //block social media
  .block-box-social-media{
    float:right;
    width: 150px;

    .boxes-box-content{
      a{
        display:inline-block;
        width: 32px;
        height: 32px;
        text-indent: -99999px;
        margin-right: 1em;
        &.twitter{background: transparent url(../images/twitter.png) top center no-repeat;}
        &.facebook{background: transparent url(../images/facebook.png) top center no-repeat;}
        &.pinterest{background: transparent url(../images/pinterest.png) top center no-repeat;}
      }
    }
  }

  //block mua sắm
  .block-menu-block-2
  {
    float:left;
    width: 140px;
    margin-right: 20px;
  }

  //block cửa hàng bobigifts
  .block-menu-block-1
  {
    float:left;
    width: 200px;
    margin-right: 20px;
  }

  //block tài khoản
  .block-menu-block-3
  {
    float:left;
    width: 120px;
    margin-right: 20px;
  }


  //style chung cho menu block
  .block-menu-block .content
  {
    ul{margin: 0; padding: 0;}
    li{
      list-style: none; margin: 0; padding: 0;
      a{display: block; padding: 10px 0;}
    }

  }
}

//block bobi_subscribe
.block-simplenews.block-1{

  padding: 20px 0;
  border-bottom: 1px solid @color-emerald;

  .content
  {
    @block_height: 67px;
    overflow: hidden;
    padding: 1em 0;

    .block_center;
    background: transparent url('../images/subscribe-bg.png') top center no-repeat;

    >p{
      font-family: @font-family-miso-regular;
      height: 30px;
      font-weight: lighter;
      margin: 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 24px;
      display: block;
      width: 404px;
      text-align: right;
      margin-top: 7px;
      float:left;
    }

    form{

      width: 500px;
      display: block;
      vertical-align: middle;
      padding-left: 15px;
      float: left;

      label{display:none}

      .form-item, .form-actions{margin: 0; display: inline-block; padding: 0;}

      input[type=text]
      {
        border-style: none;
        font-size: 16px;
        height: 23px;
        margin-right: 5px;
        width: 326px;
        &:focus{outline-style: none}
      }

      input[type=submit]
      {
        .border-radius(5px);
        color: @color-coral - 20%;
        font-family: @font-family-miso-regular;
        font-size: 20px;
        display: inline-block;
        height: 36px;
        background-color:#fff;
        border-bottom-style: none;
        border-left-style: none;
        border-top: 2px solid @color-coral;
        border-right: 2px solid @color-coral;
        padding: 0 20px;
        cursor: pointer;
      }
    }
  }
}

//block bobi_guide_video
.block-box-video-tutorial .boxes-box-content{
  border-top: 1px solid @color-emerald;
  border-bottom: 1px solid @color-emerald;
  padding: 20px 0;
  a{
    display:inline-block;
    margin-right:11px;
    line-height: 1em;
    width: 310px;
    height: 210px;
    &.last{margin-right: 0}
  }

}


//Ubercart
#cart-form-pane{
  form{

  }

  table{

    margin-bottom: 20px;

    td{
      padding: 20px 10px;
      font-size: 1.3em;
    }

    thead th{
      background-color: @color-coral;
      color: #fff;
      padding: 10px 5px;
    }

    td.subtotal{
      background-color: #efefef;
      color:#000;
      padding: 10px 5px;
    }
  }

  input[type=submit]
  {
    font-family: @font-family-miso-regular;
    font-size: 18px;
    color:@color-text-main;
    display: inline-block;
    padding:5px 15px;
    border: 2px solid @color-coral;
    background: #fff;
    cursor: pointer;
    .border-radius(5px);
    &:hover{color:#fff; background-color:@color-coral}
  }
}

//Lean slider effect
.slider-wrapper {
  position: relative;
  background: #fff url(../images/loading.gif) no-repeat 50% 50%;
  min-width: 100%;
  min-height: 100%;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
  box-shadow: 0 0 3px rgba(0,0,0,0.4);

  &:hover{
    .slider-control-nav{ opacity: 1; }
    .slider-direction-nav { opacity: 1; }
  }

  .lean-slider { overflow: hidden; }
  .lean-slider-slide {
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
  }
  .lean-slider-slide.current { opacity: 1; }
  .lean-slider-slide img {
    display: block;
    width: 100%;
  }

  .slider-direction-nav {
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
  }

  .slider-direction-nav a {
    float: left;
    display: block;
    width: 26px;
    height: 37px;
    background: url(../images/arrows.png) no-repeat 0 0;
    text-indent: -9999px;
  }
  .slider-direction-nav .lean-slider-next {
    float: right;
    background-position: 100% 0;
  }

  .slider-control-nav {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
  }

  .slider-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/bullets.png) no-repeat 0 0;
    text-indent: -9999px;
    margin: 0 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .slider-control-nav a.active { background-position: 100% 0; }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-width : 480px) {

    .slider-direction-nav,
    .slider-control-nav { opacity: 1; }

  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {

    .slider-direction-nav,
    .slider-control-nav { opacity: 1; }

  }
}





//style for node gift
body.node-type-product-gift
{

  .product-header{
    .clearfix;
  }
  .product-footer{
    border-top: 1px solid @color-emerald;
    margin-top: 20px;
    padding-top: 20px;

    >div{
      padding: 20px;
      border: 2px dashed @color-emerald;
    }
  }

  .product-slider{
    width: 600px;
    float:left;

    .thumbnails{
      .field-items{
        padding-top: 10px;
        width:100%;
        text-align: center;
        .field-item{margin: 0 5px; display: inline-block; cursor: pointer}
      }
    }
  }

  .product-add-to-cart{
    float:right;
    width: 330px;
    padding: 5px;
    background-color: @color-coral;
    .border-radius(5px);
    margin-bottom: 20px;
    >div{
      border: 1px dashed #fff;
      padding: 10px;
      .border-radius(5px);
    }
  }

  .product-short-desc{
    float:right;
    width: 330px;
    padding: 5px;
    background-color: @color-emerald;
    .border-radius(5px);
    color:#fff;

    >div{
      border: 1px dashed #fff;
      padding: 10px;
      .border-radius(5px);
    }

    h2{font-size: 1.3em; line-height: 1.5em; margin-bottom: 10px; font-weight: normal}
  }
}

