body {
  font-family: bobimyriadproregular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #6d4b27;
}
a {
  text-decoration: none;
  color: #6d4b27;
}
a:hover {
  text-decoration: underline;
}
div#container > header {
  margin-bottom: 20px;
}
div#container > div[role=main] {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
div#container > div[role=main]:before,
div#container > div[role=main]:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
div#container > div[role=main]:after {
  clear: both;
}
div#container > footer {
  margin-top: 20px;
}
.content p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 10px;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
.content h1 {
  font-size: 2em;
}
.content h2 {
  font-size: 1.6em;
}
.content h3 {
  font-size: 1.4em;
}
.content h4 {
  font-size: 1.2em;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.bobi_layout_2cols {
  zoom: 1;
}
.bobi_layout_2cols .sidecol {
  width: 180px;
  float: left;
}
.bobi_layout_2cols .maincol {
  width: 750px;
  float: right;
}
.bobi_layout_2cols:before,
.bobi_layout_2cols:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.bobi_layout_2cols:after {
  clear: both;
}
.block_center {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.block_center:before,
.block_center:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.block_center:after {
  clear: both;
}
form.form-vertical input[type=submit] {
  border-style: none;
  background-color: #f39f9b;
  color: #fff;
  padding: 6px 15px;
  font-size: 1.2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  margin-left: 210px;
  margin-top: 10px;
}
form.form-vertical .control-group {
  padding: 10px 0;
}
form.form-vertical .control-group > label {
  margin-right: 20px;
  display: inline-block;
  width: 190px;
  float: left;
}
form.form-vertical .control-group > .controls {
  width: 200px;
  display: inline-block;
}
form.form-vertical .control-group > .controls > input,
form.form-vertical .control-group > .controls select {
  padding: 5px;
  width: 100%;
  border: 1px solid #a5723b;
  border-style: 1px solid;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.breadcrumb-wrapper {
  background-color: #80c8ba;
  padding: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 20px;
}
.breadcrumb {
  display: block;
  border: 1px dashed #fff;
  padding: 5px;
  font-size: 1.6em;
  line-height: 1.3em;
  color: #fff;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  background-color: #80c8ba;
  margin: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.breadcrumb a {
  color: #fff;
  display: inline-block;
  padding: 2px 8px;
  text-decoration: underline;
}
ul.tabs {
  padding-bottom: 0px;
}
ul.tabs li a {
  padding: 10px;
  background-color: #80c8ba;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  color: #fff;
}
ul.tabs li a:hover {
  background-color: #f39f9b;
}
ul.tabs li.active a {
  color: #000000;
}
form .form-item {
  padding: 10px 0;
}
form .password-strength {
  width: 15em;
}
form label {
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 18px;
}
form input,
form input[type="password"],
form input[type="search"] {
  padding: 5px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #dedede;
  color: #6d4b27;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
form input:focus,
form input[type="password"]:focus,
form input[type="search"]:focus {
  border-color: #f39f9b;
}
form input[type=submit] {
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #6d4b27;
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid #f39f9b;
  background: #fff;
  cursor: pointer;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
form input[type=submit]:hover {
  color: #fff;
  background-color: #f39f9b;
}
.tooltipsy {
  padding: 10px;
  max-width: 150px;
  color: #fff;
  background-color: #80c8ba;
  border-style: none;
}
.bubbletooltip_tip {
  padding: 10px;
  color: #fff;
  background-color: #80c8ba;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  left: 0;
}
.bubbletooltip_tip:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #80c8ba;
  top: -10px;
  left: 50%;
  z-index: -1;
}
.bbicon {
  background: transparent url(../images/icons.png) scroll 0px 0px no-repeat;
  width: 35px;
  height: 36px;
  display: inline-block;
  text-indent: -99999px;
  cursor: pointer;
  border-style: none;
}
.zone-footer-wrapper {
  background-color: #80c8ba;
}
.zone-footer-wrapper p {
  color: #fff;
  text-align: right;
  margin-bottom: 0px;
  float: right;
}
.zone-footer-wrapper p span {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
}
.zone-content-wrapper .container-12 .grid-12 {
  width: 100%;
  margin: 0;
}
.zone-menu-wrapper .container-12 .grid-12 {
  width: 100%;
  margin: 0;
}
.zone-user-wrapper {
  background-color: #80c8ba;
}
.zone-user-wrapper .block-menu.block-system-navigation ul.menu {
  float: right;
}
.zone-user-wrapper .block-menu.block-system-navigation ul.menu li {
  list-style: inline-block;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
.zone-user-wrapper .block-menu.block-system-navigation ul.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
.zone-user-wrapper .block-menu.block-system-navigation ul.menu li a:hover {
  background-color: #f39f9b;
  text-decoration: none;
}
.block-menu.block-menu-menu-primary-menu {
  border-top: 1px solid #80c8ba;
  border-bottom: 1px solid #80c8ba;
  margin-bottom: 20px;
}
.block-menu.block-menu-menu-primary-menu ul.menu li {
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  color: #6d4b27;
  list-style: inline-block;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.block-menu.block-menu-menu-primary-menu ul.menu li a {
  color: #6d4b27;
  display: block;
  padding: 10px;
  text-decoration: none;
}
.view-bobi-carousel.view-display-id-block_carousel {
  position: relative;
  clear: both;
  height: 340px;
  margin-bottom: 20px;
}
.view-bobi-carousel.view-display-id-block_carousel > .view-content {
  z-index: 10;
  width: 263px;
  position: absolute;
  top: 0;
}
.view-bobi-carousel.view-display-id-block_carousel > .view-content li {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}
.view-bobi-carousel.view-display-id-block_carousel > .view-content li a {
  padding-left: 20px;
  text-decoration: none;
  display: table-cell;
  width: 100%;
  background: transparent url(../images/indicator-bg.png) top left no-repeat;
  height: 60px;
  width: 263px;
  vertical-align: middle;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
}
.view-bobi-carousel.view-display-id-block_carousel > .view-content li a:hover {
  text-decoration: none;
}
.view-bobi-carousel.view-display-id-block_carousel > .view-content li.active a {
  background-image: url(../images/indicator-hover-bg.png);
}
.view-bobi-carousel.view-display-id-block_carousel > .attachment-after {
  right: 0;
  top: 0;
  position: absolute;
  height: 340px;
  width: 720px;
}
.view-bobi-carousel.view-display-id-block_carousel > .attachment-after .view-content > div {
  position: absolute;
  top: 0;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards {
  float: right;
  width: 750px;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row {
  margin-bottom: 20px;
  zoom: 1;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row.views-row-last {
  margin-bottom: 0;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row:before,
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row:after {
  clear: both;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item {
  height: 275px;
  width: 750px;
  overflow: hidden;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol {
  width: 600px;
  float: left;
  position: relative;
  height: 275px;
  overflow: hidden;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .item-list ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .item-list li {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  width: 600px;
  height: 275px;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .item-list li.first {
  display: block;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .ribbon {
  position: absolute;
  top: 10px;
  z-index: 10;
  color: #fff;
  background-color: #f39f9b;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 3px 11px;
  left: -1px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .ribbon:after {
  content: ".";
  overflow: hidden;
  background: transparent url(../images/ribbon-tail.png) scroll top right no-repeat;
  display: block;
  width: 17px;
  height: 26px;
  position: absolute;
  top: 0px;
  right: -12px;
  color: transparent;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions form {
  display: block;
  float: left;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions form .form-actions {
  margin: 0;
  padding: 0;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions form input[type=submit] {
  background: transparent url(../images/icons.png) scroll 0px 0px no-repeat;
  width: 35px;
  height: 36px;
  display: inline-block;
  text-indent: -99999px;
  cursor: pointer;
  border-style: none;
  background-position: 0 -85px;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions form input[type=submit]:hover {
  background-position: -41px -85px;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions form div.attributes {
  display: none;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions .customize {
  display: block;
  float: left;
  margin-left: 10px;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions .customize a {
  background: transparent url(../images/icons.png) scroll 0px 0px no-repeat;
  width: 35px;
  height: 36px;
  display: inline-block;
  text-indent: -99999px;
  cursor: pointer;
  border-style: none;
  background-position: 0 0;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .maincol .actions .customize a:hover {
  background-position: -41px 0;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .sidecol {
  width: 130px;
  float: right;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .sidecol ul {
  margin: 0;
  padding: 0;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .sidecol li {
  line-height: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .sidecol li.first {
  display: none;
}
.view-bobi-feature-cards.view-id-bobi_feature_cards .view-content .views-row .item .sidecol li.last {
  margin-bottom: 0;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row {
  margin-bottom: 20px;
  zoom: 1;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row.views-row-last {
  margin-bottom: 0;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row:before,
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row:after {
  clear: both;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item {
  height: 275px;
  width: 750px;
  overflow: hidden;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol {
  width: 600px;
  float: left;
  position: relative;
  height: 275px;
  overflow: hidden;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .item-list ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .item-list li {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  width: 600px;
  height: 275px;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .item-list li.first {
  display: block;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .ribbon {
  position: absolute;
  top: 10px;
  z-index: 10;
  color: #fff;
  background-color: #f39f9b;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 3px 11px;
  left: -1px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .ribbon:after {
  content: ".";
  overflow: hidden;
  background: transparent url(../images/ribbon-tail.png) scroll top right no-repeat;
  display: block;
  width: 17px;
  height: 26px;
  position: absolute;
  top: 0px;
  right: -12px;
  color: transparent;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions form {
  display: block;
  float: left;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions form .form-actions {
  margin: 0;
  padding: 0;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions form input[type=submit] {
  background: transparent url(../images/icons.png) scroll 0px 0px no-repeat;
  width: 35px;
  height: 36px;
  display: inline-block;
  text-indent: -99999px;
  cursor: pointer;
  border-style: none;
  background-position: 0 -85px;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions form input[type=submit]:hover {
  background-position: -41px -85px;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions form div.attributes {
  display: none;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions .customize {
  display: block;
  float: left;
  margin-left: 10px;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions .customize a {
  background: transparent url(../images/icons.png) scroll 0px 0px no-repeat;
  width: 35px;
  height: 36px;
  display: inline-block;
  text-indent: -99999px;
  cursor: pointer;
  border-style: none;
  background-position: 0 0;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .maincol .actions .customize a:hover {
  background-position: -41px 0;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .sidecol {
  width: 130px;
  float: right;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .sidecol ul {
  margin: 0;
  padding: 0;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .sidecol li {
  line-height: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .sidecol li.first {
  display: none;
}
.view-bobi-feature-gifts.view-id-bobi_feature_gifts .view-content .views-row .item .sidecol li.last {
  margin-bottom: 0;
}
.zone-explorer-wrapper {
  border-top: 4px solid #f39f9b;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  margin-top: 20px;
}
.zone-explorer-wrapper h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1em;
  margin-bottom: 20px;
}
.zone-explorer-wrapper p {
  line-height: 1.4em;
  margin-bottom: 5px;
}
.zone-explorer-wrapper .block-box-company-info {
  float: left;
  width: 200px;
}
.zone-explorer-wrapper .block-box-social-media {
  float: right;
  width: 150px;
}
.zone-explorer-wrapper .block-box-social-media .boxes-box-content a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -99999px;
  margin-right: 1em;
}
.zone-explorer-wrapper .block-box-social-media .boxes-box-content a.twitter {
  background: transparent url(../images/twitter.png) top center no-repeat;
}
.zone-explorer-wrapper .block-box-social-media .boxes-box-content a.facebook {
  background: transparent url(../images/facebook.png) top center no-repeat;
}
.zone-explorer-wrapper .block-box-social-media .boxes-box-content a.pinterest {
  background: transparent url(../images/pinterest.png) top center no-repeat;
}
.zone-explorer-wrapper .block-menu-block-2 {
  float: left;
  width: 140px;
  margin-right: 20px;
}
.zone-explorer-wrapper .block-menu-block-1 {
  float: left;
  width: 200px;
  margin-right: 20px;
}
.zone-explorer-wrapper .block-menu-block-3 {
  float: left;
  width: 120px;
  margin-right: 20px;
}
.zone-explorer-wrapper .block-menu-block .content ul {
  margin: 0;
  padding: 0;
}
.zone-explorer-wrapper .block-menu-block .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.zone-explorer-wrapper .block-menu-block .content li a {
  display: block;
  padding: 10px 0;
}
.block-simplenews.block-1 {
  padding: 20px 0;
  border-bottom: 1px solid #80c8ba;
}
.block-simplenews.block-1 .content {
  overflow: hidden;
  padding: 1em 0;
  width: 960px;
  margin: 0 auto;
  zoom: 1;
  background: transparent url('../images/subscribe-bg.png') top center no-repeat;
}
.block-simplenews.block-1 .content:before,
.block-simplenews.block-1 .content:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.block-simplenews.block-1 .content:after {
  clear: both;
}
.block-simplenews.block-1 .content > p {
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  height: 30px;
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  display: block;
  width: 404px;
  text-align: right;
  margin-top: 7px;
  float: left;
}
.block-simplenews.block-1 .content form {
  width: 500px;
  display: block;
  vertical-align: middle;
  padding-left: 15px;
  float: left;
}
.block-simplenews.block-1 .content form label {
  display: none;
}
.block-simplenews.block-1 .content form .form-item,
.block-simplenews.block-1 .content form .form-actions {
  margin: 0;
  display: inline-block;
  padding: 0;
}
.block-simplenews.block-1 .content form input[type=text] {
  border-style: none;
  font-size: 16px;
  height: 23px;
  margin-right: 5px;
  width: 326px;
}
.block-simplenews.block-1 .content form input[type=text]:focus {
  outline-style: none;
}
.block-simplenews.block-1 .content form input[type=submit] {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #df8b87;
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  display: inline-block;
  height: 36px;
  background-color: #fff;
  border-bottom-style: none;
  border-left-style: none;
  border-top: 2px solid #f39f9b;
  border-right: 2px solid #f39f9b;
  padding: 0 20px;
  cursor: pointer;
}
.block-box-video-tutorial .boxes-box-content {
  border-top: 1px solid #80c8ba;
  border-bottom: 1px solid #80c8ba;
  padding: 20px 0;
}
.block-box-video-tutorial .boxes-box-content a {
  display: inline-block;
  margin-right: 11px;
  line-height: 1em;
  width: 310px;
  height: 210px;
}
.block-box-video-tutorial .boxes-box-content a.last {
  margin-right: 0;
}
#cart-form-pane table {
  margin-bottom: 20px;
}
#cart-form-pane table td {
  padding: 20px 10px;
  font-size: 1.3em;
}
#cart-form-pane table thead th {
  background-color: #f39f9b;
  color: #fff;
  padding: 10px 5px;
}
#cart-form-pane table td.subtotal {
  background-color: #efefef;
  color: #000;
  padding: 10px 5px;
}
#cart-form-pane input[type=submit] {
  font-family: longvietlinh_misoregular, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #6d4b27;
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid #f39f9b;
  background: #fff;
  cursor: pointer;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
#cart-form-pane input[type=submit]:hover {
  color: #fff;
  background-color: #f39f9b;
}
.slider-wrapper {
  position: relative;
  background: #ffffff url(../images/loading.gif) no-repeat 50% 50%;
  min-width: 100%;
  min-height: 100%;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  /* Smartphones (portrait and landscape) ----------- */

  /* iPads (portrait and landscape) ----------- */

}
.slider-wrapper:hover .slider-control-nav {
  opacity: 1;
}
.slider-wrapper:hover .slider-direction-nav {
  opacity: 1;
}
.slider-wrapper .lean-slider {
  overflow: hidden;
}
.slider-wrapper .lean-slider-slide {
  display: block;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -ms-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}
.slider-wrapper .lean-slider-slide.current {
  opacity: 1;
}
.slider-wrapper .lean-slider-slide img {
  display: block;
  width: 100%;
}
.slider-wrapper .slider-direction-nav {
  position: absolute;
  left: 0;
  top: 47%;
  width: 100%;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0.2;
}
.slider-wrapper .slider-direction-nav a {
  float: left;
  display: block;
  width: 26px;
  height: 37px;
  background: url(../images/arrows.png) no-repeat 0 0;
  text-indent: -9999px;
}
.slider-wrapper .slider-direction-nav .lean-slider-next {
  float: right;
  background-position: 100% 0;
}
.slider-wrapper .slider-control-nav {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0.2;
}
.slider-wrapper .slider-control-nav a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../images/bullets.png) no-repeat 0 0;
  text-indent: -9999px;
  margin: 0 3px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.slider-wrapper .slider-control-nav a.active {
  background-position: 100% 0;
}
@media only screen and (min-device-width: 320px) and (max-width: 480px) {
  .slider-wrapper .slider-direction-nav,
  .slider-wrapper .slider-control-nav {
    opacity: 1;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slider-wrapper .slider-direction-nav,
  .slider-wrapper .slider-control-nav {
    opacity: 1;
  }
}
body.node-type-product-gift .product-header {
  zoom: 1;
}
body.node-type-product-gift .product-header:before,
body.node-type-product-gift .product-header:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
body.node-type-product-gift .product-header:after {
  clear: both;
}
body.node-type-product-gift .product-footer {
  border-top: 1px solid #80c8ba;
  margin-top: 20px;
  padding-top: 20px;
}
body.node-type-product-gift .product-footer > div {
  padding: 20px;
  border: 2px dashed #80c8ba;
}
body.node-type-product-gift .product-slider {
  width: 600px;
  float: left;
}
body.node-type-product-gift .product-slider .thumbnails .field-items {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}
body.node-type-product-gift .product-slider .thumbnails .field-items .field-item {
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}
body.node-type-product-gift .product-add-to-cart {
  float: right;
  width: 330px;
  padding: 5px;
  background-color: #f39f9b;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 20px;
}
body.node-type-product-gift .product-add-to-cart > div {
  border: 1px dashed #fff;
  padding: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
body.node-type-product-gift .product-short-desc {
  float: right;
  width: 330px;
  padding: 5px;
  background-color: #80c8ba;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
}
body.node-type-product-gift .product-short-desc > div {
  border: 1px dashed #fff;
  padding: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
body.node-type-product-gift .product-short-desc h2 {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 10px;
  font-weight: normal;
}
