//Block bobi_user_bar
.bobi_user_bar{
  height: 30px;
  background-color: @color-emerald;
  > div {.block_center;}
  ul.userbar {
    margin: 0;
    text-align: right;

    > li{
      display: inline-block;
      margin-left:0.5em;
      position: relative;
      color:#fff;
      height: 25px;
      > a{
        padding: 5px 7px 6px; display: block; color:#fff;
        &:hover{background-color: @color-coral; text-decoration: none}
      }

      &:hover ul{display:block;}

      ul{
        margin: 0;
        width: 160px;
        position: absolute;
        top: 25px;
        right: 0px;
        display:none;
        padding: 0;

        li{
          color:#fff;
          a{
            display: block;
            width: 100%;
            padding: 6px 10px;
            border-top: 1px solid #fff;
            width: 140px;
            background-color:@color-emerald;
            color:#fff;
            &:hover{text-decoration: none; background-color:@color-coral;}
          }
          text-align: right;
          list-style: none;
        }
      }
    }
  }
}


//Block bobi_branding
.bobi_branding{
  > div{.block_center}
}


//Block bobi_navigation_bar
.bobi_navigation_bar{
  margin-bottom: 20px;
  > div{.block_center;}

  ul.main{
    border-top: 1px solid @color-emerald; border-bottom: 1px solid @color-emerald;
    margin: 0 0 10px 0;
    padding: 0;
    li{
      display: inline-block;
      a{
        display:block; font-family: @font-family-miso-regular; color:@color-text-main; padding: 5px 20px; font-size: 1.3em;
        &:hover{color:@color-emerald; text-decoration: none}
      }
    }
  }

  .subnav{
    .border-radius(5px);
    background-color: @color-coral;
    color:#fff;
    padding: 10px 20px;
    p{margin: 0}
    a{color:inherit; text-decoration: none}
  }
}

//Block bobi_footer_menu
.bobi_footer_menu{
  margin-top: 0px;
  border-top: 4px solid @color-coral;
  padding-bottom: 1em;

  > div{.block_center;}

  .block{
    width: 130px;
    float:left;
    margin: 0 15px;

    > h4{font-weight: bold; font-size:16px; text-transform: uppercase}

    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        display: block;
        a{display: block; padding: 7px 0;}
      }
    }

    &.block-company{
      width: 170px;
    }

    &.block-social-media{
      float:right;
      width: 150px;

      a{
        display:inline-block;
        width: 32px;
        height: 32px;
        text-indent: -99999px;
        margin-right: 1em;
        &.twitter{background: transparent url(../images/twitter.png) top center no-repeat;}
        &.facebook{background: transparent url(../images/facebook.png) top center no-repeat;}
        &.pinterest{background: transparent url(../images/pinterest.png) top center no-repeat;}
      }

    }
  }

}

//BLock bobi_copyright
.bobi_copyright{
  > div {.block_center;}
  p{
    margin: 0;
    display: block;
    float:right;
    height: 100%;
    >span{height: 30px; display: table-cell; vertical-align: middle; text-align: right; width: 100%}
  }
  background-color:@color-emerald;
  text-align: right;
  color:#fff;
  height: 30px;
  overflow: hidden;
}

//block bobi_subscribe
.bobi_subscribe{

  @block_height: 67px;
  overflow: hidden;
  padding: 1em 0;
  border-top: 1px solid @color-emerald; border-bottom: 1px solid @color-emerald;

  > div{.block_center; height: @block_height; background: transparent url('../images/subscribe-bg.png') top center no-repeat;}

  h3{font-family: @font-family-miso-regular; height: @block_height; font-weight: lighter; margin: 0; text-transform: uppercase; color:#fff; font-size: 24px; display: table-cell;  vertical-align: middle; width: 350px; text-align: right;}

  form{
    width: 500px; display: table-cell; vertical-align: middle; padding-left: 20px;

    input[type=text]{
      border-style: none;
      font-size: 16px;
      height: 23px;
      margin-left: 49px;
      margin-right: 15px;
      width: 332px;
      &:focus{outline-style: none}
    }

    input[type=submit]
    {
      .border-radius(5px);
      color: @color-coral - 20%;
      font-family: @font-family-miso-regular;
      font-size: 20px;
      display: inline-block;
      height: 36px;
      background-color:#fff;
      border-bottom-style: none;
      border-left-style: none;
      border-top: 2px solid @color-coral;
      border-right: 2px solid @color-coral;
      padding: 0 20px;

    }

  }
}


//block bobi_featured
.view-bobi-carousel.view-id-bobi_carousel {

  overflow: hidden; clear:both; height: 340px; position: relative; padding-bottom: 20px;

  >div.attachment{
    @h: 340px;
    @w: 730px;

    height: @h;
    width: @w;
    float:right;

  }


  > .view-content{
    z-index: 10;
    width: 263px;
    position: absolute;
    top: 0;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        display: block;
        margin-bottom: 10px;
        a{
          @padding-left: 20px;
          padding-left: 20px;
          text-decoration: none;
          display: table-cell; width: 100%; background: transparent url(../images/indicator-bg.png) top left no-repeat;
          height: 60px;width: 263px;vertical-align: middle;
          font-family: @font-family-miso-regular;
          font-size: 24px; color:#fff;

          &:hover{text-decoration: none}
        }

        &.active{
          a{background-image:url(../images/indicator-hover-bg.png)}
        }
      }
    }
  }

}

//block bobi_guide_video
.bobi_guide_video{
  border-top: 1px solid @color-emerald;
  padding: 20px 0;
  > a{
    display:inline-block;
    margin-right:11px;
    line-height: 1em;
    &.last{margin-right: 0}
  }

}


//block bobi_showcase_horizontal
.bobi_showcase_horizontal{
  padding-top: 20px;
  > a{
    display: inline-block; width: 185px; height: 155px; margin-right:5px;
    &.last{margin-right:0}
  }

}


//block bobi_breadcrumb
.bobi_breabcrumb{
  >p{
    display:block;
    border: 1px dashed #fff;
    padding: 5px;
    font-size:1.6em;
    line-height: 1.3em;
    color: #fff;
    font-family: @font-family-miso-regular;
    background-color:@color-emerald;
    margin: 0;
    .border-radius(5px);
    a {
      color:#fff;
      display: inline-block;
      padding: 2px 8px;
    }
  }
  background-color:@color-emerald;
  padding: 3px;
  .border-radius(5px);
}
//block bobi_category_filter
.bobi_category_filter{

  .block-single{
    position: relative;
    background-color:@color-emerald;

    &.active{
      padding-right: 0;
      >div{border-right-style: none}
    }

    &.active:after{
      content: ".";
      overflow: hidden;
      background: transparent url(../images/filter-arrow.png) scroll top right no-repeat;
      display: block;
      width: 32px;
      height: 50px;
      position: absolute;
      top: 0px;
      right: -21px;
      color:transparent;
    }

  }

  .block{
    background-color:@color-coral;

    ul{
      padding: 0;
      margin: 0;
      li{
        display: block;
      }

      a{
        padding: 2px 0; display: inline-block;
        &:hover{color:#fff; text-decoration: none; }
      }
    }
  }
  .block, .block-single{
    padding: 3px;
    margin-bottom:5px;
    h3{
      font-family: @font-family-miso-regular;
      font-size:1.6em;
      color:#fff;
      margin: 0;
    }
    >div{
      padding: 6px 10px;
      border: 1px dashed #fff;
    }
  }
}

//block bobi_product_items
.bobi_product_items{
  .item{
    .maincol{
      float:left;
      width: 600px;
      position: absolute;

      .mainthumb{
        position: absolute;
        top: 0;
      }

      .actions{
        position: relative;
        top: 10px;
        right: 10px;
        text-align: right;

        img{width: 30px; height: auto}
      }
    }
    .sidecol{
      float:right; width: 130px;
      img{margin-bottom: 15px; &.bottom{margin-bottom: 0px;}}
    }
    margin-bottom: 20px;
    .clearfix;
  }
}